<form  method="POST" action="/fruits/new" >
    Name: <input type="text" name="name"/><br/>
    Color: <input type="text" name="color"/><br/>
    Is Ready To Eat?
    <input type="checkbox" name="readyToEat"/><br/>
    <input type="submit"/>
    <nav>
        <a href="/fruits">Back to Fruits Index</a>
    </nav>
</form>

